.btn {
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 1rem;
    margin-left: 0;
}

.night-mode .btn {
    background-color: $color-dark-main;
    box-shadow: $shadow-dark;
    color: $color-dark-text;
}

.day-mode .btn {
    background-color: $color-light-main;
    box-shadow: $shadow-light;
    color: $color-light-text;
}