.flag {
    flex: 1;
    img {
        width: 100%;
    }

    @media only screen and (max-width: 1000px){
        margin-bottom: 3rem;
    }
}

.details {

    flex: 1;

    &__heading {
        font-size: 2.2rem;
        transition: color 0.2s;
    }

    &__info {
        
        font-size: 1.6rem;
        display: flex;
        margin: 3rem 0;

        div {
            flex: 1;
        }

        p {
            margin: 1rem 0;
            transition: color 0.2s;
        }

        @media only screen and (max-width: 600px){
            flex-direction: column;
            row-gap: 2rem;
        }

    }

    &__info .bold {
        font-weight: 700;
    }

    &__borders {

        font-size: 1.6rem;
        font-weight: 700;

        span {
            display: inline-block;
            margin-right: 2rem;

            @media only screen and (max-width: 600px){
                display: block;
            }
        }

        
    }
}

.loading-text {
    font-size: 1.6rem;
    transition: all 0.2s;
}

.night-mode .details {
    color: $color-dark-text;
}

.day-mode .details {
    color: $color-light-text;
}

.night-mode .loading-text {
    color: $color-dark-text;
}

.day-mode .loading-text {
    color: $color-light-text;
}

