.form-control {

    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    border-radius: 5px;
    width: 40rem;
    transition: all 0.2s;

    @media only screen and (max-width: 700px){
        width: 100%;
    }

    &__icon {
        font-size: 1.6rem;
        transition: color 0.2s;
    }

    &__input,
    &__input:focus {
        flex: 1;
        border: none;
        background-color: transparent;
        outline: none;
        font-family: $font-main;
        font-size: $text-size-home;
        transition: color 0.2s;
    }

    &__input::placeholder {
        transition: color 0.2s;
    }
}

.day-mode .form-control {
    background-color: $color-light-main;
    box-shadow: $shadow-light-small;

    &__icon {
        color: $color-light-input;
    }

    &__input,
    &__input::placeholder {
        color: $color-light-input;
    }
}

.night-mode .form-control {
    background-color: $color-dark-main;
    box-shadow: $shadow-dark-small;

    &__icon {
        color: $color-dark-text;
    }

    &__input,
    &__input::placeholder {
        color: $color-dark-text;
    }
}

.select-control {

    position: relative;
    width: 20rem;
    

    & > select {
        padding: 2rem 3rem;
        border: none;
        outline: none;
        border-radius: 5px;
        appearance: none;
        position: relative;
        width: 100%;
        color: inherit;
        font-weight: 400;
        font-family: $font-main;
        font-size: 1.6rem;
        transition: all 0.2s;

        &:focus {
            outline: none;
            font-weight: 400;
        }
    }

    & > option {
        padding: 2rem !important;
    }

    &__icon {
        position: absolute;
        display: block;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
        z-index: 100;
    }
}

.day-mode .select-control {
    
    color: $color-light-text;

    & > select {
        background-color: $color-light-main;
        box-shadow: $shadow-light-small;
    }
}

.night-mode .select-control {
    
    color: $color-dark-text;

    & > select {
        background-color: $color-dark-main;
        box-shadow: $shadow-dark-small;
    }
}