// - Dark Blue (Dark Mode Elements): 
$color-light-main: hsl(0, 0%, 100%);
$color-dark-main: hsl(209, 23%, 22%);

// - Very Dark Blue (Dark Mode Background)
$color-light-bg: hsl(0, 0%, 98%);
$color-dark-bg: hsl(207, 26%, 17%);

// - Very Dark Blue (Light Mode Text)
$color-light-text: hsl(200, 15%, 8%);
$color-dark-text: hsl(0, 0%, 100%);

// - Dark Gray (Light Mode Input)
$color-light-input: hsl(0, 0%, 52%);

$shadow-light: 0 3px 6px #ccf;
$shadow-light-small: 2px 2px 10px #eef;
$shadow-dark: 0 3px 6px #222;
$shadow-dark-small: 2px 2px 10px #252525;

$text-size-home: 14px;
$text-size-details: 16px;

$font-main: 'Nunito Sans', sans-serif;